stages:
  - check_tag
  - build_docker
  - deploy

variables:
  SERVICE_NAME: ${CI_PROJECT_NAME}
  IMAGE_NAME: ${CI_PROJECT_NAME}
  DOCKER_CONTEXT: ${CI_PROJECT_DIR}
  DOCKER_FILE: ${CI_PROJECT_DIR}/Dockerfile
  DOCKER_FILE_TESTNET: ${CI_PROJECT_DIR}/Dockerfile.testnet

check_tag:
  stage: check_tag
  image:
    name: asia-northeast1-docker.pkg.dev/woo-orderly/orderly-devops/gcloud
    entrypoint: [""]
  script:
    - echo ${IMAGE_NAME}
    - TAG_EXISTS=$(gcloud container images list-tags asia-northeast1-docker.pkg.dev/woo-orderly/orderly-network/${IMAGE_NAME} --filter="tags=${CI_COMMIT_TAG}" --format="value(tags)")
    - echo ${TAG_EXISTS}
    - | 
      if [ -z "${TAG_EXISTS}" ]; then
        echo "TAG_EXISTS=false" > build.env 
      else
        echo "TAG_EXISTS=true" > build.env
      fi
  artifacts:
    reports:
      dotenv: build.env
  only:
    - tags
  tags:
    - dev
    - build

build_docker:
  stage: build_docker
  image:
    name: asia-northeast1-docker.pkg.dev/woo-orderly/orderly-devops/executor:v1.9.0-debug
    entrypoint: [""]
  variables:
    GIT_DEPTH: "0"
  rules:
    - if: '$CI_COMMIT_TAG'
    - when: never
  before_script:
    - git fetch --quiet origin +refs/heads/main:refs/remotes/origin/main --depth=0
    - |
      if git merge-base --is-ancestor "$CI_COMMIT_SHA" "origin/main"; then
        echo "Tag commit is on main. Proceed."
      else
        echo "Tag commit is NOT on main. Skip build_docker."
        exit 0
      fi
  script:
    - echo ${TAG_EXISTS}
    - |
      if [ "${TAG_EXISTS}" = false ]; then
        /kaniko/executor --context "${DOCKER_CONTEXT}" --dockerfile "${DOCKER_FILE}" --destination "asia-northeast1-docker.pkg.dev/woo-orderly/orderly-network/${IMAGE_NAME}:${CI_COMMIT_TAG}" --snapshotMode=redo --cache=true
      else
        echo "asia-northeast1-docker.pkg.dev/woo-orderly/orderly-network/${IMAGE_NAME}:${CI_COMMIT_TAG} exists, no need to build! Skip building docker image!"
      fi
  dependencies:
    - check_tag
  tags:
    - dev
    - build

build_docker_testnet:
  stage: build_docker
  image:
    name: asia-northeast1-docker.pkg.dev/woo-orderly/orderly-devops/executor:v1.9.0-debug
    entrypoint: [""]
  variables:
    GIT_DEPTH: "0"
  rules:
    - if: '$CI_COMMIT_TAG'
    - when: never
  before_script:
    - git fetch --quiet origin +refs/heads/test:refs/remotes/origin/test --depth=0
    - |
      if git merge-base --is-ancestor "$CI_COMMIT_SHA" "origin/test"; then
        echo "Tag commit is on test. Proceed."
      else
        echo "Tag commit is NOT on test. Skip build_docker."
        exit 0
      fi
  script:
    - echo ${TAG_EXISTS}
    - |
      if [ "${TAG_EXISTS}" = false ]; then
        /kaniko/executor --context "${DOCKER_CONTEXT}" --dockerfile "${DOCKER_FILE_TESTNET}" --destination "asia-northeast1-docker.pkg.dev/woo-orderly/orderly-network/${IMAGE_NAME}:${CI_COMMIT_TAG}-testnet" --snapshotMode=redo --cache=true
      else
        echo "asia-northeast1-docker.pkg.dev/woo-orderly/orderly-network/${IMAGE_NAME}:${CI_COMMIT_TAG} exists, no need to build! Skip building docker image!"
      fi
  dependencies:
    - check_tag
  tags:
    - dev
    - build

deploy_staging_evm:
  stage: deploy
  image:
    name: asia-northeast1-docker.pkg.dev/woo-orderly/orderly-devops/curl
    entrypoint: [""]
  variables:
    GIT_DEPTH: "0"
  rules:
    - if: '$CI_COMMIT_TAG'
    - when: never
  before_script:
    - git fetch --quiet origin +refs/heads/test:refs/remotes/origin/test --depth=0
    - |
      if git merge-base --is-ancestor "$CI_COMMIT_SHA" "origin/test"; then
        echo "Tag commit is on test. Proceed."
      else
        echo "Tag commit is NOT on test. Skip build_docker."
        exit 0
      fi
  script:
    - echo "Trigger staging-evm helm deploying ... "
    - curl -X POST --fail -F token=${DEPLOY_PRJ_TOKEN} -F "ref=staging-evm" -F "variables[SERVICE_NAME]=${SERVICE_NAME}" -F "variables[TAG]=${CI_COMMIT_TAG}-testnet" https://gitlab.com/api/v4/projects/${DEPLOY_PRJ_ID}/trigger/pipeline
  when: manual
  tags:
    - dev
    - build

deploy_prod_evm:
  stage: deploy
  image:
    name: asia-northeast1-docker.pkg.dev/woo-orderly/orderly-devops/curl
    entrypoint: [""]
  variables:
    GIT_DEPTH: "0"
  rules:
    - if: '$CI_COMMIT_TAG'
    - when: never
  before_script:
    - git fetch --quiet origin +refs/heads/main:refs/remotes/origin/main --depth=0
    - |
      if git merge-base --is-ancestor "$CI_COMMIT_SHA" "origin/main"; then
        echo "Tag commit is on main. Proceed."
      else
        echo "Tag commit is NOT on main. Skip build_docker."
        exit 0
      fi
  script:
    - echo "Trigger prod-evm helm deploying ... "
    - curl -X POST --fail -F token=${DEPLOY_PRJ_TOKEN} -F "ref=prod-evm" -F "variables[SERVICE_NAME]=${SERVICE_NAME}" -F "variables[TAG]=${CI_COMMIT_TAG}" https://gitlab.com/api/v4/projects/${DEPLOY_PRJ_ID}/trigger/pipeline
  when: manual
  tags:
    - dev
    - build
