@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?y2f6gl') format('truetype'),
    url('fonts/icomoon.woff?y2f6gl') format('woff'),
    url('fonts/icomoon.svg?y2f6gl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat-agent-planing:before {
  content: "\e900";
}
.icon-chat-analyze-agent:before {
  content: "\e901";
}
.icon-chat-back:before {
  content: "\e902";
}
.icon-chat-close:before {
  content: "\e903";
}
.icon-chat-complete:before {
  content: "\e904";
}
.icon-chat-copy:before {
  content: "\e905";
}
.icon-chat-delete:before {
  content: "\e906";
}
.icon-chat-dislike:before {
  content: "\e907";
}
.icon-chat-file:before {
  content: "\e908";
}
.icon-chat-history:before {
  content: "\e909";
}
.icon-chat-like:before {
  content: "\e90a";
}
.icon-chat-new:before {
  content: "\e90b";
}
.icon-chat-process:before {
  content: "\e90c";
}
.icon-chat-refresh:before {
  content: "\e90d";
}
.icon-chat-send:before {
  content: "\e90e";
}
.icon-chat-star-empty:before {
  content: "\e90f";
}
.icon-chat-star:before {
  content: "\e910";
}
.icon-chat-thinking:before {
  content: "\e911";
}
.icon-chat-voice:before {
  content: "\e912";
}
