@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?8e07bg') format('truetype'),
    url('fonts/icomoon.woff?8e07bg') format('woff'),
    url('fonts/icomoon.svg?8e07bg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat-agent-planing:before {
  content: "\e900";
}
.icon-chat-analyze-agent:before {
  content: "\e901";
}
.icon-chat-arrow-long:before {
  content: "\e902";
}
.icon-chat-arrow-short:before {
  content: "\e903";
}
.icon-chat-back:before {
  content: "\e904";
}
.icon-chat-border-close:before {
  content: "\e905";
}
.icon-chat-close:before {
  content: "\e906";
}
.icon-chat-complete:before {
  content: "\e907";
}
.icon-chat-copy:before {
  content: "\e908";
}
.icon-chat-default-ui:before {
  content: "\e909";
}
.icon-chat-delete:before {
  content: "\e90a";
}
.icon-chat-dislike-fill:before {
  content: "\e90b";
}
.icon-chat-dislike:before {
  content: "\e90c";
}
.icon-chat-expand-down:before {
  content: "\e90d";
}
.icon-chat-expand:before {
  content: "\e90e";
}
.icon-chat-file:before {
  content: "\e90f";
}
.icon-chat-hammer:before {
  content: "\e910";
}
.icon-chat-history:before {
  content: "\e911";
}
.icon-chat-like-fill:before {
  content: "\e912";
}
.icon-chat-like:before {
  content: "\e913";
}
.icon-chat-more:before {
  content: "\e914";
}
.icon-chat-new:before {
  content: "\e915";
}
.icon-chat-noti-disable:before {
  content: "\e916";
}
.icon-chat-noti-enable:before {
  content: "\e917";
}
.icon-chat-other:before {
  content: "\e918";
}
.icon-chat-process:before {
  content: "\e919";
}
.icon-chat-refresh:before {
  content: "\e91a";
}
.icon-chat-robot:before {
  content: "\e91b";
}
.icon-chat-rubbish:before {
  content: "\e91c";
}
.icon-chat-send:before {
  content: "\e91d";
}
.icon-chat-share:before {
  content: "\e91e";
}
.icon-chat-shortcuts:before {
  content: "\e91f";
}
.icon-chat-star-empty:before {
  content: "\e920";
}
.icon-chat-star:before {
  content: "\e921";
}
.icon-chat-stop-play:before {
  content: "\e922";
}
.icon-chat-stop-voice:before {
  content: "\e923";
}
.icon-chat-tell-more:before {
  content: "\e924";
}
.icon-chat-thinking:before {
  content: "\e925";
}
.icon-chat-unselected:before {
  content: "\e926";
}
.icon-chat-upload:before {
  content: "\e927";
}
.icon-chat-useless:before {
  content: "\e928";
}
.icon-chat-voice:before {
  content: "\e929";
}
.icon-coinmarketcap:before {
  content: "\e92a";
}
.icon-discord:before {
  content: "\e92b";
}
.icon-github:before {
  content: "\e92c";
}
.icon-header-mobile:before {
  content: "\e92d";
}
.icon-header-noti:before {
  content: "\e92e";
}
.icon-header-pc:before {
  content: "\e92f";
}
.icon-header-qrcode:before {
  content: "\e930";
}
.icon-header-setting:before {
  content: "\e931";
}
.icon-play:before {
  content: "\e932";
}
.icon-twitter:before {
  content: "\e933";
}
