@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?mknmwkfg') format('truetype'),
    url('fonts/icomoon.woff?mknmwkfg') format('woff'),
    url('fonts/icomoon.svg?mknmwkfg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
  content: "\e900";
}
.icon-ai-summary:before {
  content: "\e901";
}
.icon-arrow:before {
  content: "\e904";
}
.icon-arrow-bar-right:before {
  content: "\e902";
}
.icon-arrow-loading:before {
  content: "\e903";
}
.icon-boost:before {
  content: "\e905";
}
.icon-capital-layer:before {
  content: "\e906";
}
.icon-chain-of-thought:before {
  content: "\e907";
}
.icon-circle-success:before {
  content: "\e908";
}
.icon-circle-warning:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90a";
}
.icon-code:before {
  content: "\e90b";
}
.icon-complete:before {
  content: "\e90c";
}
.icon-copy:before {
  content: "\e90d";
}
.icon-create-strategy:before {
  content: "\e90e";
}
.icon-data-layer:before {
  content: "\e90f";
}
.icon-decision:before {
  content: "\e910";
}
.icon-delete:before {
  content: "\e911";
}
.icon-discord:before {
  content: "\e912";
}
.icon-double-right:before {
  content: "\f101";
}
.icon-download:before {
  content: "\e913";
}
.icon-drag-expand:before {
  content: "\e914";
}
.icon-edit:before {
  content: "\e915";
}
.icon-email:before {
  content: "\e916";
}
.icon-execution-layer:before {
  content: "\e917";
}
.icon-expand:before {
  content: "\e918";
}
.icon-flow:before {
  content: "\e919";
}
.icon-flower:before {
  content: "\e91a";
}
.icon-fold:before {
  content: "\e91b";
}
.icon-generate-code:before {
  content: "\e91c";
}
.icon-history:before {
  content: "\e91d";
}
.icon-info-circle:before {
  content: "\e91e";
}
.icon-launch:before {
  content: "\e91f";
}
.icon-loading:before {
  content: "\e920";
}
.icon-logout:before {
  content: "\e921";
}
.icon-menu-chat:before {
  content: "\e922";
}
.icon-menu-language:before {
  content: "\e923";
}
.icon-menu-login:before {
  content: "\e924";
}
.icon-menu-my:before {
  content: "\e925";
}
.icon-menu-vibe:before {
  content: "\e926";
}
.icon-more:before {
  content: "\e927";
}
.icon-my-strategy:before {
  content: "\e928";
}
.icon-my-vault:before {
  content: "\e929";
}
.icon-no-data:before {
  content: "\e92a";
}
.icon-orders:before {
  content: "\e92b";
}
.icon-paper-trading:before {
  content: "\e92c";
}
.icon-pause:before {
  content: "\e92d";
}
.icon-performance:before {
  content: "\e92e";
}
.icon-play:before {
  content: "\e92f";
}
.icon-positions:before {
  content: "\e930";
}
.icon-preference:before {
  content: "\e931";
}
.icon-progress-response:before {
  content: "\e932";
}
.icon-risk-appetite:before {
  content: "\e933";
}
.icon-risk-layer:before {
  content: "\e934";
}
.icon-search:before {
  content: "\e935";
}
.icon-share:before {
  content: "\e936";
}
.icon-signal-layer:before {
  content: "\e937";
}
.icon-signal-log:before {
  content: "\e938";
}
.icon-signals:before {
  content: "\e939";
}
.icon-sorting:before {
  content: "\e93a";
}
.icon-stratege-expand:before {
  content: "\e93b";
}
.icon-switch:before {
  content: "\e93c";
}
.icon-tag-border:before {
  content: "\e93d";
}
.icon-telegram:before {
  content: "\e93e";
}
.icon-tools:before {
  content: "\e93f";
}
.icon-tooltip-arrow:before {
  content: "\e940";
}
.icon-upload:before {
  content: "\f102";
}
.icon-wallet:before {
  content: "\e941";
}
.icon-watchlist:before {
  content: "\f103";
}
.icon-x:before {
  content: "\e942";
}
.icon-zoom-in:before {
  content: "\e943";
}
.icon-zoom-out:before {
  content: "\e944";
}
