@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?s3e2a6') format('truetype'),
    url('fonts/icomoon.woff?s3e2a6') format('woff'),
    url('fonts/icomoon.svg?s3e2a6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ai-summary:before {
  content: "\e900";
}
.icon-arrow-loading:before {
  content: "\e901";
}
.icon-arrow:before {
  content: "\e902";
}
.icon-capital-layer:before {
  content: "\e903";
}
.icon-chain-of-thought:before {
  content: "\e904";
}
.icon-circle-success:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-complete:before {
  content: "\e907";
}
.icon-copy:before {
  content: "\e908";
}
.icon-data-layer:before {
  content: "\e909";
}
.icon-decision:before {
  content: "\e90a";
}
.icon-edit:before {
  content: "\e90b";
}
.icon-execution-layer:before {
  content: "\e90c";
}
.icon-expand:before {
  content: "\e90d";
}
.icon-generate-code:before {
  content: "\e90e";
}
.icon-launch:before {
  content: "\e90f";
}
.icon-loading:before {
  content: "\e910";
}
.icon-menu-chat:before {
  content: "\e911";
}
.icon-menu-language:before {
  content: "\e912";
}
.icon-menu-login:before {
  content: "\e913";
}
.icon-menu-my:before {
  content: "\e914";
}
.icon-menu-vibe:before {
  content: "\e915";
}
.icon-more:before {
  content: "\e916";
}
.icon-my-strategy:before {
  content: "\e917";
}
.icon-my-vault:before {
  content: "\e918";
}
.icon-orders:before {
  content: "\e919";
}
.icon-paper-trading:before {
  content: "\e91a";
}
.icon-pause:before {
  content: "\e91b";
}
.icon-performance:before {
  content: "\e91c";
}
.icon-play:before {
  content: "\e91d";
}
.icon-positions:before {
  content: "\e91e";
}
.icon-progress-response:before {
  content: "\e91f";
}
.icon-risk-appetite:before {
  content: "\e920";
}
.icon-risk-layer:before {
  content: "\e921";
}
.icon-search:before {
  content: "\e922";
}
.icon-share:before {
  content: "\e923";
}
.icon-signal-layer:before {
  content: "\e924";
}
.icon-signals:before {
  content: "\e925";
}
.icon-switch:before {
  content: "\e926";
}
.icon-zoom-in:before {
  content: "\e927";
}
.icon-zoom-out:before {
  content: "\e928";
}
