* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  min-height: 100%;
  font-family: 'IBMPlexSans', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

html {
  font-size: 16px;
  font-variant: none;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol,
ul,
dl,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin: 0;
}

div,
span,
form {
  box-sizing: border-box;
}

a {
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

input {
  outline: none;
  padding: 0;
  box-sizing: border-box;
  border-radius: 2px;
  border: none;
  font-family: 'IBMPlexSans', sans-serif;
  -webkit-appearance: none;
}

textarea {
  font-family: 'IBMPlexSans', sans-serif;
}

input::-ms-clear {
  display: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

button {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  user-select: none;
  cursor: pointer;
}

#tv-attr-logo {
  display: none !important;
}

.fixed-style {
  width: 100vw;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
}
